*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
    background-color: #222831;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding: 0 0.5rem;
    background-color: #222831;
    max-width: 1200px;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav a{
    text-decoration: none;
    color: rgb(255, 240, 240);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav a:hover{
    color: rgb(36, 152, 206);
    transition: 0.3s;
}
hr{
    border: 0.5px solid rgb(30, 25, 100);
    margin: 0 auto;
    opacity: 0.2;
}

hr{
    opacity: 10%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 5rem auto;
}

.arrow{   
    position: absolute;
    transform: translateX(-6.5rem ) translateY(4.5rem);
}

.herosub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    font-size: 4rem;
    color: skyblue; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heroBtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.Myworks, .contactMe{
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4rem);
}

.Hireme{
    background-color: #393e46;
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(4rem);
}

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1200px;
    margin: 5rem auto;
    color: #ffffff;
    gap: 10rem;}

.textContainer{
        display: flex;
        flex-direction: column;
} 
     
.textTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.aboutName{
    color: #eeeeee;
}

.aboutTitle{
    color: #0bb5bd;
}

.aboutMePar{
    text-align: justify;
    color: rgba(238, 238, 238, 0.75);
}

.Works{
    background-image: url("img/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 2rem;
    margin: 5rem auto;
}

.Workscontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem auto;
    max-width: 1200px;
}

.projectTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}

.Works ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
.Works li{
    border-radius: 16px;
    background-color: rgba(57, 62, 70, 0.6);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}
.Works li img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.2s;
}

.Works li :hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 5rem auto;
    max-width: 1200px;;
}
.contactTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

.Contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.emailAndphone{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact h3,.contact a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.emailAndphone img{
    width: 35px;
    height: 35px;
}

.socialMedia{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.socialMedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.socialMedia img{
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.socialMedia img:hover{
    transform: scale(1.2);
}
footer{;
    color: #eeeeee;
    padding: 2rem ;
    font-size: 0.9rem;
}

@media (max-width: 1023px){
    header{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .hero{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .heroimg{
        width: 400px;
    }
    .name, .title{
        font-size: 2rem;
    }
    .arrow{
        display: none;
    }
    .textContainer{
        align-items: center;
        margin: 0rm 5rem;
        gap: 1rem;
    }
    .aboutMe{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    .aboutName, .aboutTitle{
        font-size: 2rem;
    }
    .light{
        width: 60px;
    }
    .aboutMeImg{
        width: 300px;
    }
    .Works{
        padding: 0;
    }
    .Workscontainer{
        padding: 5rem 0rem;
        gap: 3rem;
    }
    .projectTitle{
        margin-left: 1rem;
    }
    .Works ul{
        flex-direction: column;
        align-items: center;
    }
    .contactContainer{
        margin: 10rem 5rem;
        gap: 2rem;
    }
    .Contact{
        flex-direction: column;
        gap: 1rem;
        margin-right: 0;
    }
}